<template>
<div class="row">
  <h4 class="col-12">Loan Terms</h4>
  <div class="col-12 row">
    <div class="form-group col-6 col-md-3">
      <label>Principle</label>
      <div class="input-group">
        <div class="input-group-prepend"><div class="input-group-text">$</div></div>
        <input :value='displayPrinciple' @input='$emit("update:principle", $event.target.value)'
          type="tel" class="form-control" placeholder="principle">
      </div>
    </div>
    <div class="form-group col-6 col-md-3">
      <label>APR</label>
      <div class="input-group">
        <input :value='apr' @input='$emit("update:apr", parseFloat($event.target.value, 10) || 0)'
          type="number" class="form-control" placeholder="APR" step="0.001">
        <div class="input-group-append"><div class="input-group-text">%</div></div>
      </div>
    </div>
    <div class="form-group col-6 col-md-3">
      <label>Term</label>
      <div class="input-group">
        <input :value='term' @input='$emit("update:term", parseFloat($event.target.value, 10) || 0)'
          type="tel" class="form-control" placeholder="term">
        <div class="input-group-append"><div class="input-group-text">Months</div></div>
      </div>
    </div>
  </div>
</div>
</template>

<script>
import { formatDollars } from './../../utils/format';

export default {
  props: ['principle', 'apr', 'term'],
  computed: {
    displayPrinciple: function() {
      return formatDollars(this.principle);
    },
  },
};
</script>
