<template>
<div class="row">
  <h4 class="col-12">Increase Payments</h4>
  <div class="col-12 row">
    <div class="form-group col-6 col-md-3">
      <label>By Amount</label>
      <div class="input-group">
        <div class="input-group-prepend"><div class="input-group-text">$</div></div>
        <input :value='displayAmt' @input='$emit("update:extraAmt", $event.target.value)'
          type="tel" class="form-control">
      </div>
    </div>
    <div class="form-group col-6 col-md-3">
      <label>By Percentage</label>
      <div class="input-group">
        <input :value='extraPct' @input='$emit("update:extraPct", parseFloat($event.target.value, 10) || 0)'
          type="tel" class="form-control">
        <div class="input-group-append"><div class="input-group-text">%</div></div>
      </div>
    </div>
  </div>
</div>
</template>

<script>
import { formatDollars } from './../../utils/format';

export default {
  props: ['extraAmt', 'extraPct'],
  computed: {
    displayAmt: function() {
      return formatDollars(this.extraAmt, false);
    },
  },
};
</script>
