<template>
<div class="mt-3">
  <div class="row">
    <h4 class="col-12 text-center">{{ title }}</h4>
  </div>
  <div class="row text-center">
    <div class="col-3">
      <h5>Monthly Payment</h5>
      <p>{{ formatMoney(payment) }}</p>
    </div>
    <div class="col-3">
      <h5>Loan Term</h5>
      <p>{{ schedule.length }}</p>
    </div>
    <div class="col-3">
      <h5>Interest Paid</h5>
      <p>{{ formatMoney(interestPaid) }}</p>
    </div>
    <div class="col-3">
      <h5>Total Repaid</h5>
      <p>{{ formatMoney(totalRepayment) }}</p>
    </div>
  </div>
  <div class="row text-center">
    <div class="col"></div>
    <div class="col-2">
      <button class='btn btn-outline-info btn-sm' @click='showSchedule = !showSchedule'>{{ showSchedule ? "Hide" : "Show"}} Schedule</button>
    </div>
    <div class="col"></div>
  </div>
  <div class="row">
    <table class='table table-hover table-sm col-12 mt-3' v-if='showSchedule'>
      <thead>
        <tr>
          <th>Period</th>
          <th>Payment</th>
          <th>Principle</th>
          <th>Interest</th>
          <th>Balance</th>
        </tr>
      </thead>
      <tbody>
        <term-row v-for='(payment, key) in schedule' :key='key' :payment='payment' />
      </tbody>
    </table>
  </div>
  <hr  v-if='title'>
</div>
</template>

<script>
import { formatMoney } from './../../utils/format';
import TermRow from './TermRow';

export default {
  components: {
    TermRow,
  },
  props: ['title', 'payment', 'schedule'],
  data() {
    return {
      showSchedule: false,
    };
  },
  computed: {
    interestPaid: function interestPaid() {
      return this.schedule.reduce(
        (int, {interestPaid}) => int + (interestPaid || 0),
        0
      );
    },
    totalRepayment: function totalRepayment() {
      return this.schedule.reduce(
        (sum, {payment}) => sum + (payment || 0),
        0
      );
    },
  },
  methods: {
    formatMoney,
  },
};
</script>
