<template>
  <tr>
    <td>{{ payment.period }}</td>
    <td>{{ formatMoney(payment.payment) }}</td>
    <td>{{ formatMoney(payment.principlePaid) }}</td>
    <td>{{ formatMoney(payment.interestPaid) }}</td>
    <td>{{ formatMoney(payment.principleBalance) }}</td>
  </tr>
</template>

<script>
import { formatMoney } from './../../utils/format';
export default {
  props: ['payment'],
  methods: {
    formatMoney,
  },
};
</script>
