<template>
<div class="calculator container">
  <h1>Loan Calculator</h1>
  <form class="form" v-on:submit.prevent>
    <loan-terms :principle.sync='principle' :apr.sync='apr' :term.sync='term' />
    <loan-acceleration :extraAmt.sync='extraAmt' :extraPct.sync='extraPct' />
    <div class="row">
      <div class="col-4">
        <router-link :to='{query: queryParams}'>Permalink</router-link>
      </div>
    </div>
  </form>

  <div class="row">
    <mortgage-summary title='Modified Repayment' v-if='hasOptions'
      :payment='monthlyPayment' :schedule='actualPayments' class="col-12" />
    <mortgage-summary :title='hasOptions ? "Standard Repayment" : ""'
      :payment='mortgage.standardPayment' :schedule='standardPayments' class="col-12 mb-3" />
  </div>
</div>
</template>

<script>
import numeral from 'numeral';

import { formatMoney } from './../utils/format';
import Mortgage from './../utils/mortgage';

import LoanTerms from './calculator/LoanTerms';
import LoanAcceleration from './calculator/LoanAcceleration';
import MortgageSummary from './calculator/MortgageSummary';

function isValid(input) {
  return (typeof input) === 'number' && !isNaN(input);
}

export default {
  name: 'calculator',
  components: {
    LoanTerms,
    LoanAcceleration,
    MortgageSummary,
  },
  props: ['p', 'a', 't', 'amt', 'pct', 'sch'],
  data() {
    const principle = parseFloat(this.p, 10);
    const apr = parseFloat(this.a, 10);
    const term = parseFloat(this.t, 10);
    const extraPct = parseFloat(this.pct, 10);
    const extraAmt = parseFloat(this.amt, 10);
    return {
      principle: isValid(principle) ? principle : 100000,
      apr: isValid(apr) ? apr : 6,
      term: isValid(term) ? term : 360,
      extraPct: isValid(extraPct) ? extraPct : 0,
      extraAmt: isValid(extraAmt) ? extraAmt : 0,
    };
  },
  watch: {
    principle: function watchPrinciple(val) {
      const parsed = numeral(val).value() || 0;
      this.$set(this, 'principle', parsed);
    },
    extraAmt: function watchExtraAmt(val) {
      const parsed = numeral(val).value() || 0;
      this.$set(this, 'extraAmt', parsed);
    },
  },
  computed: {
    hasOptions: function hasOptions() {
      return this.extraPct !== 0 || this.extraAmt !== 0;
    },
    options: function options() {
      return {
        extraAmt: this.extraAmt,
        extraPct: this.extraPct,
      };
    },
    mortgage: function mortgage() {
      return new Mortgage(this.principle, this.apr, this.term, this.options);
    },
    monthlyPayment: function monthlyPayment() {
      return this.mortgage.calculatePayment(this.options);
    },
    actualPayments: function actualPayments() {
      return this.mortgage.calculateRepaymentSchedule({usingOptions: true});
    },
    standardPayments: function standardPayments() {
      return this.mortgage.calculateRepaymentSchedule({usingOptions: false});
    },
    queryParams: function queryParams() {
      return {
        p: this.principle,
        a: this.apr,
        t: this.term,
        amt: this.extraAmt || undefined,
        pct: this.extraPct || undefined,
      };
    },
  },
  methods: {
    formatMoney,
  },
};
</script>

<style>
form, table {
  text-align: left;
}
label {
  display: block;
}
</style>
