<template>
  <div class="container">
    <h1 class="text-center">Money Vision</h1>
    <p class="col-8 ml-auto mr-auto">
      Money vision is a forthcoming personal finance website.
    </p>
    <p class="col-8 ml-auto mr-auto">
      Currently, the site features a loan replayment calculator that allows you to
      model different options for speeding repayment by increasing your montly payments.
      In the future you will also be able to schedule extra payments.
    </p>
  </div>
</template>

<script>
export default {
  name: 'home',
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
h1, h2 {
  font-weight: normal;
}
</style>
