<template>
  <div id="app">
    <nav class="navbar">
      <span><router-link to='/' title='Money Vision'>Home</router-link></span>
      <ul class="navbar-nav">
        <li class="nav-item"><router-link to='/calculator' class="nav-link">Calculator</router-link></li>
      </ul>
    </nav>
    <main>
      <router-view></router-view>
    </main>
  </div>
</template>

<script>
export default {
  name: 'app',
};
</script>

<style>
body {
  margin: 0;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

main {
  margin-top: 40px;
}

nav.navbar {
  background-color: #35495E;
  color: #ffffff;
}

nav a, nav a:visited {
  color: #ffffff;
  text-decoration: none;
}
</style>
